[ level_data ]
enemy_ships_count   = 5
enemy_ships         = enemy_ship_Launcher,enemy_ship_flamer,enemy_ship_boxorz,enemy_ship_stealth,enemy_ship_snake
bosses_count        = 3
bosses              = boss_Chaser, boss_Battleship, enemy_midboss_bridge
turrets_count       = 2
turrets             = turret_bouncer,turret_light
bombs_bullets_count = 5
bombs_bullets_max   = 512
bombs_bullets       = player_ship_bullet,player_ship_bomb,enemy_ship_bullet,enemy_ship_bomb,enemy_flame_shot
environment_count	= 5
environment_max		= 128
environment_list	= env_Leaf, env_Box, env_flower, env_Bug, env_FireTree
env_ground_height   = 5
env_ground_chars    = ~,9,r
env_ground_color    = 180,164,119
env_ground_freq     = 70,15,15
env_cieling_height  = 0
env_cieling_chars   =
env_cieling_color   =
env_cieling_freq    =
env_bg_field_offset = 0
env_bg_field_chars  = +,.
env_bg_field_color  = 7,2 # 7 is blue
env_bg_field_freq   = 6,6
collectable_count	= 4
collectable_max		= 128
collectable_list	= collect_rapid, collect_spread, collect_invuln, collect_points
effects_list        = explosion
effects_count       = 1
effects_max         = 200
sounds_count        = 0
sounds              =
music_tracks_count  = 4
music_tracks        = Play_01.mp3, Play_02.mp3, Play_03.mp3, Play_04.mp3
########################################
spawn_class_list   = spawn_nothing, spawn_enemy_ship, spawn_enemy_turrets, spawn_bosses, spawn_buildings, spawn_trees, spawn_collectable, spawn_midboss
spawn_class_count  = 8
spawn_object_count = 18
spawn_special_list  = enemy_ship_Launcher, enemy_ship_boxorz,enemy_ship_stealth
spawn_special_count = 3
spawn_special_start = 500
spawn_special_delta = 60

[ spawn_nothing ]
object_list  = 
object_count = 0
probability  = 11
start_delta  = 0
spawn_delta  = 0

[ spawn_enemy_ship ]
object_list  = enemy_ship_Launcher, enemy_ship_flamer, enemy_ship_snake, enemy_ship_boxorz, enemy_ship_stealth
object_count = 5
probability  = 4 # should be based on difficulty
start_delta  = 300
spawn_delta  = 60 # should be based on difficulty

[ spawn_enemy_turrets ]
object_list  = turret_bouncer, turret_light
object_count = 2
probability  = 2 # should be based on difficulty
start_delta  = 300
spawn_delta  = 100

[ spawn_midboss ]
object_list  = enemy_midboss_bridge
object_count = 1
probability  =1
start_delta  = 7000
spawn_delta  = 5

[ spawn_bosses ]
object_list  = boss_Battleship
object_count = 1
probability  = 1
start_delta  = 15000 #10000
spawn_delta  = 1

[ spawn_buildings ]
object_list  = env_Box
object_count = 1
probability  = 5
start_delta  = 0
spawn_delta  = 90

[ spawn_trees ]
object_list  = env_Leaf, env_flower, env_FireTree, env_Bug
object_count = 4
probability  = 8
start_delta  = 0
spawn_delta  = 30

[ spawn_collectable ]
object_list  = collect_rapid, collect_spread, collect_invuln, collect_points
object_count = 4
probability  = 1
start_delta  = 4000
spawn_delta  = 1000
########################################


[ player_ship_bullet ]
sprite = player_bullet
type   = 2  # DSC_OBJ_PLAYER_BULLET

[ player_ship_bomb ]
sprite = player_bomb
type   = 3  # DSC_OBJ_PLAYER_BOMB

[ enemy_ship_bullet ]
sprite = enemy_bullet
type   = 6  # DSC_OBJ_ENEMY_BULLET

[ enemy_ship_bomb ]
sprite = enemy_bomb
type   = 7  # DSC_OBJ_ENEMY_BOMB

[ enemy_flame_shot ]
sprite = enemy_flame_shot
type   = 7  # DSC_OBJ_ENEMY_BOMB

[ explosion ]
sprite     = player_explode
type       = 0 # DSC_OBJ_NO_COLLISION 
anim_loops = 1 
anim_delta = 5

[ enemy_ship_Launcher ]
acceleration = 32.54 # does nothing
sprite       = enemy_ship_Launcher
type	     = 4  # DSC_OBJ_ENEMY_SHIP
homing       = 5.4
shot		 = 10  # Launcher Shot
movement     = 3  # side-side
guns         = 0.300,0.000,1 # x%,y% shot to appy to
health       = 15
spawn_prob   = 5
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ enemy_ship_flamer ]
acceleration = 21.51
sprite		 = enemy_ship_flamer
type	     = 4  # DSC_OBJ_ENEMY_SHIP
homing       = 7.2
shot		 = 9  # fire shot
movement     = 18  # divebomb
guns		 = 0.000,0.200,1 - 0.000,0.550,1
health       = 8
spawn_prob   = 5
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ enemy_ship_boxorz ]
acceleration = 23.54
sprite		 = enemy_ship_boxorz
type	     = 4  # DSC_OBJ_ENEMY_SHIP
homing       = 10.2
shot		 = 5  # LAZERS-YEAH
movement     = 12  # straight
guns         = 0.000,0.200,1 - 0.000,0.600,1
health       = 5
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ enemy_ship_stealth ]
acceleration = 23.54
sprite		 = enemy_ship_stealth
type	     = 4  # DSC_OBJ_ENEMY_SHIP
homing       = 10.2
shot		 = 12  # Explode with bullets
movement     = 13  # suicide
guns         = 0.500,0.500,1
health       = 13
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ enemy_ship_snake ]
acceleration = 23.54
sprite		 = enemy_ship_snake
type	     = 4  # DSC_OBJ_ENEMY_SHIP
homing       = 10.2
shot		 = 1  # straight shot
movement     = 4  # needs curvy movement
guns         = 0.100,0.000,1
health       = 13
spawn_prob   = 4
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ boss_Battleship ]
acceleration = 23.54
sprite       = enemy_battleship
type	     = 14  # DSC_OBJ_ENEMY_BOSS
movement     = 19  # upper_circle
shot         = 13,11,8  # homing shot, curve-up shot, chaser shot
homing       = 2.1
health       = 375
guns         = 0.024,0.461,1 - 0.000,0.384,1 - 0.195,0.538,2 - 0.219,0.615,2 - 0.439,0.769,3
spawn_prob   = 1
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ enemy_midboss_bridge ]
acceleration = 23.54
sprite       = enemy_midboss_bridge
type	     = 15  # DSC_OBJ_ENEMY_MIDBOSS
movement     = 18  # similar to the other center oriented movements
shot         = 12,  # explosion shot
homing       = 2.1
health       = 75
guns         = 0.059,0.856,1
spawn_prob   = 1
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ boss_Chaser ]
acceleration = 23.54
sprite       = Behind_Boss
type	     = 4  # DSC_OBJ_ENEMY_SHIP
movement     = 10  # pursue
shot         = 8  # Chaser_shot
homing       = 2.1
health       = 9001
guns         = 0.500,0.900,1 - 0.400,0.800,1 - 0.600,0.750,1 - 0.300,0.900,1
spawn_prob   = 0
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ turret_bouncer ]
sprite       = enemy_turret_bouncer
type	     = 5  # DSC_OBJ_ENEMY_TURRET
shot         = 12  # needs no shot
movement     = 21 # bounce
guns         = 0.500,0.500,1
homing		 = 13.8
acceleration = 0.0
health       = 5
spawn_prob   = 3
spawn_orient = 2 # SPAWN_ORIENT_FLOOR

[ turret_light ]
sprite       = enemy_light_turret
type	     = 5  # DSC_OBJ_ENEMY_TURRET
shot         = 6  # Lturret_shot
movement     = 20 # non_move
guns         = 0.500,0.300,1 - 0.600,0.300,1
homing		 = 15.6
acceleration = 0.0
health       = 6
spawn_prob   = 3
spawn_orient = 2 # SPAWN_ORIENT_FLOOR

[ env_Leaf ]
sprite	= Leaf
type	= 10  # DSC_OBJ_TREE
spawn_prob   = 4
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 1 # ENV_RENDER_LEVEL_BG_01

[env_Box]
sprite	= Box
type	= 8  # DSC_OBJ_BUILDING
spawn_prob   = 5
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 0 # ENV_RENDER_LEVEL_FG_01

[env_flower]
sprite	= SFlower
type	= 10  # DSC_OBJ_TREE
spawn_prob   = 4
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 0 # ENV_RENDER_LEVEL_FG_01

[env_Bug]
sprite	= Bug
type	= 10  # DSC_OBJ_TREE
spawn_prob   = 1
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 0 # ENV_RENDER_LEVEL_FG_01

[env_FireTree]
sprite	= FireTree
type	= 10  # DSC_OBJ_TREE
spawn_prob   = 4
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 2 # ENV_RENDER_LEVEL_BG_02

[env_Srock]
sprite	= SRock
type	= 12  # DSC_OBJ_MOUNTAIN
spawn_prob   = 5
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 1 # ENV_RENDER_LEVEL_BG_01

[env_Mrock]
sprite	= MRock
type	= 12  # DSC_OBJ_MOUNTAIN
spawn_prob   = 4
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 2 # ENV_RENDER_LEVEL_BG_02

[env_Brock]
sprite	= LRock
type	= 12  # DSC_OBJ_MOUNTAIN
spawn_prob   = 3
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 2 # ENV_RENDER_LEVEL_BG_02

[collect_rapid]
sprite	= item_rapid
type	= 9  # DSC_OBJ_COLLECTABLE
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[collect_spread]
sprite	= item_spread
type	= 9  # DSC_OBJ_COLLECTABLE
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[collect_invuln]
sprite	= item_invuln
type	= 9  # DSC_OBJ_COLLECTABLE
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[collect_points]
sprite	= item_points
type	= 9  # DSC_OBJ_COLLECTABLE
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER
