[ level_data ]
enemy_ships_count   = 4
enemy_ships         = enemy_ship_floogle,enemy_ship_bomber,enemy_ship_tiefighter,enemy_ship_kamikaze
bosses_count        = 3
bosses              = boss_Omegablaster, boss_Chaser, boss_Gear
turrets_count       = 2
turrets             = turret_heavy,turret_light
bombs_bullets_count = 4
bombs_bullets_max   = 512
bombs_bullets       = player_ship_bullet,player_ship_bomb,enemy_ship_bullet,enemy_ship_bomb
environment_count	= 10
environment_max		= 128
environment_list	= env_pyramid_01, env_building_01, env_building_02, env_skyscraper, env_tree_01, env_tree_02, env_tree_03, env_mountain_01, env_mountain_02, env_mountain_03
env_ground_height   = 5
env_ground_chars    = ^
env_ground_color    = 004
env_ground_freq     = 100
env_cieling_height  = 0
env_cieling_chars   =
env_cieling_color   =
env_cieling_freq    =
env_bg_field_offset = 7
env_bg_field_chars  = .
env_bg_field_color  = 2
env_bg_field_freq   = 8
collectable_count	= 4
collectable_max		= 128
collectable_list	= collect_rapid, collect_spread, collect_invuln, collect_points
effects_list        = explosion
effects_count       = 1
effects_max         = 200
music_tracks_count  = 4
music_tracks        = Play_01.mp3, Play_02.mp3, Play_03.mp3, Play_04.mp3
########################################
spawn_class_list    = spawn_nothing, spawn_enemy_ship, spawn_enemy_turrets, spawn_bosses, spawn_buildings, spawn_trees, spawn_mountains, spawn_collectable, spawn_midboss
spawn_class_count   = 9
spawn_object_count  = 22
spawn_special_list  = enemy_ship_bomber, enemy_ship_tiefighter, enemy_ship_kamikaze
spawn_special_count = 3
spawn_special_start = 600
spawn_special_delta = 60

[ spawn_nothing ]
object_list  = 
object_count = 0
probability  = 10
start_delta  = 0
spawn_delta  = 0

[ spawn_enemy_ship ]
object_list  = enemy_ship_floogle, enemy_ship_bomber, enemy_ship_tiefighter, enemy_ship_kamikaze
object_count = 4
probability  = 3 # should be based on difficulty
start_delta  = 400
spawn_delta  = 60 # should be based on difficulty

[ spawn_enemy_turrets ]
object_list  = turret_heavy, turret_light
object_count = 2
probability  = 2 # should be based on difficulty
start_delta  = 350
spawn_delta  = 100

[ spawn_bosses ]
object_list  = boss_Gear
object_count = 1
probability  = 1
start_delta  = 20000 #20000
spawn_delta  = 1

[ spawn_midboss ]
object_list  = boss_Omegablaster
object_count = 1
probability  = 1
start_delta  = 8000 #10000
spawn_delta  = 10

[ spawn_buildings ]
object_list  = env_building_01, env_building_02, env_skyscraper, env_pyramid_01
object_count = 4
probability  = 5
start_delta  = 0
spawn_delta  = 90

[ spawn_trees ]
object_list  = env_tree_01, env_tree_02, env_tree_03
object_count = 3
probability  = 8
start_delta  = 0
spawn_delta  = 30

[ spawn_mountains ]
object_list  = env_mountain_01, env_mountain_02, env_mountain_03
object_count = 3
probability  = 4
start_delta  = 0
spawn_delta  = 60

[ spawn_collectable ]
object_list  = collect_rapid, collect_spread, collect_invuln, collect_points
object_count = 4
probability  = 1
start_delta  = 4000
spawn_delta  = 1000
########################################

[ player_ship_bullet ]
sprite = player_bullet
type   = 2  # DSC_OBJ_PLAYER_BULLET

[ player_ship_bomb ]
sprite = player_bomb
type   = 3  # DSC_OBJ_PLAYER_BOMB

[ enemy_ship_bullet ]
sprite = enemy_bullet
type   = 6  # DSC_OBJ_ENEMY_BULLET

[ enemy_ship_bomb ]

sprite = enemy_bomb
type   = 7  # DSC_OBJ_ENEMY_BOMB

[ explosion ]
sprite     = player_explode
type       = 0 # DSC_OBJ_NO_COLLISION 
anim_loops = 1 
anim_delta = 5

[ enemy_ship_floogle ]
acceleration = 32.54
sprite       = enemy_floogle
type	     = 4  # DSC_OBJ_ENEMY_SHIP
homing       = 5.4
shot		 = 1  # straight_shot
movement     = 16  # infinity
guns         = 0.067,0.467,1 # x%,y% shot to appy to
health       = 10
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ enemy_ship_bomber ]
acceleration = 21.51
sprite		 = enemy_bomber
type	     = 4  # DSC_OBJ_ENEMY_SHIP
homing       = 7.2
shot		 = 3  # Bomber_shot
movement     = 11  # follow
guns		 = 0.300,0.800,1
health       = 5
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ enemy_ship_tiefighter ]
acceleration = 13.5
sprite       = enemy_tiefighter
type	     = 4  # DSC_OBJ_ENEMY_SHIP
homing       = 9.1
shot		 = 1  # straight_shot
movement     = 12  # straight
guns         = 0.0,0.067,1 - 0.0,0.867,1
health       = 5
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ enemy_ship_kamikaze ]
acceleration = 23.54
sprite		 = enemy_kamikaze
type	     = 4  # DSC_OBJ_ENEMY_SHIP
homing       = 10.2
shot		 = 2  # Cover_shot
movement     = 13  # suicide
guns         = 0.500,0.000,1
health       = 5
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ boss_Omegablaster ]
acceleration = 23.54
sprite       = enemy_Omegablaster
type	     = 15  # DSC_OBJ_ENEMY_MIDBOSS
movement     = 1,17,2  # infinity, side_side, up_down
shot         = 5  # Lazer_shot
homing       = 2.1
health       = 30
guns         = 0.000,0.200,1 - 0.000,0.634,1
spawn_prob   = 1
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ boss_Chaser ]
acceleration = 23.54
sprite       = Behind_Boss
type	     = 4  # DSC_OBJ_ENEMY_SHIP
movement     = 10  # pursue
shot         = 8  # Chaser_shot
homing       = 2.1
health       = 9001
guns         = 0.500,0.900,1 - 0.400,0.800,1 - 0.600,0.750,1 - 0.300,0.900,1
spawn_prob   = 0
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ boss_Gear ]
acceleration = 23.54
sprite       = boss_Gear
type	     = 14  # DSC_OBJ_ENEMY_BOSS
movement     = 14,15,16  # box, hourglass, zag
shot         = 5,4  # Lazer_shot, boss_shot
homing       = 2.1
health       = 300
guns         = 0.250,0.250,1,2 - 0.250,0.750,1,2 - 0.150,0.500,1,2 - 0.350,0.100,2 - 0.350,0.900,2
spawn_prob   = 1
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[ turret_heavy ]
sprite       = enemy_heavy_turret
type	     = 5  # DSC_OBJ_ENEMY_TURRET
shot         = 7  # HTurret_shot
movement     = 20 # non_move
guns         = 0.500,0.500,1 - 0.550,0.450,1
homing		 = 13.8
acceleration = 0.0
health       = 32
spawn_prob   = 3
spawn_orient = 2 # SPAWN_ORIENT_FLOOR

[ turret_light ]
sprite       = enemy_light_turret
type	     = 5  # DSC_OBJ_ENEMY_TURRET
shot         = 6  # Lturret_shot
movement     = 20 # non_move
guns         = 0.500,0.300,1 - 0.600,0.300,1
homing		 = 15.6
acceleration = 0.0
health       = 26
spawn_prob   = 3
spawn_orient = 2 # SPAWN_ORIENT_FLOOR

[env_building_01]
sprite	= building_01
type	= 8  # DSC_OBJ_BUILDING
spawn_prob   = 3
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 0 # ENV_RENDER_LEVEL_FG_01

[env_building_02]
sprite	= building_02
type	= 8  # DSC_OBJ_BUILDING
spawn_prob   = 3
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 0 # ENV_RENDER_LEVEL_FG_01

[env_skyscraper]
sprite	= skyscraper
type	= 8  # DSC_OBJ_BUILDING
spawn_prob   = 3
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 0 # ENV_RENDER_LEVEL_FG_01

[env_pyramid_01]
sprite	= Pyramid_01
type	= 8  # DSC_OBJ_BUILDING
spawn_prob   = 3
spawn_orient = 2 # SPAWN_ORIENT_FLOOR
rdr_level    = 0 # ENV_RENDER_LEVEL_FG_01

[env_tree_01]
sprite	= tree_01
type	= 10  # DSC_OBJ_TREE
spawn_prob   = 3
spawn_orient = 5 # SPAWN_ORIENT_FLOOR_FREE
rdr_level    = 1 # ENV_RENDER_LEVEL_BG_01

[env_tree_02]
sprite	= tree_02
type	= 10  # DSC_OBJ_TREE
spawn_prob   = 3
spawn_orient = 5 # SPAWN_ORIENT_FLOOR_FREE
rdr_level    = 1 # ENV_RENDER_LEVEL_BG_01

[env_tree_03]
sprite	= tree_02
type	= 10  # DSC_OBJ_TREE
spawn_prob   = 3
spawn_orient = 5 # SPAWN_ORIENT_FLOOR_FREE
rdr_level    = 1 # ENV_RENDER_LEVEL_BG_01

[env_mountain_01]
sprite	= mountain_01
type	= 12  # DSC_OBJ_MOUNTAIN
spawn_prob   = 3
spawn_orient = 5 # SPAWN_ORIENT_FLOOR_FREE
rdr_level    = 2 # ENV_RENDER_LEVEL_BG_02

[env_mountain_02]
sprite	= mountain_02
type	= 12  # DSC_OBJ_MOUNTAIN
spawn_prob   = 3
spawn_orient = 5 # SPAWN_ORIENT_FLOOR_FREE
rdr_level    = 2 # ENV_RENDER_LEVEL_BG_02

[env_mountain_03]
sprite	= mountain_02
type	= 12  # DSC_OBJ_MOUNTAIN
spawn_prob   = 3
spawn_orient = 5 # SPAWN_ORIENT_FLOOR_FREE
rdr_level    = 2 # ENV_RENDER_LEVEL_BG_02

[collect_rapid]
sprite	= item_rapid
type	= 9  # DSC_OBJ_COLLECTABLE
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[collect_spread]
sprite	= item_spread
type	= 9  # DSC_OBJ_COLLECTABLE
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[collect_invuln]
sprite	= item_invuln
type	= 9  # DSC_OBJ_COLLECTABLE
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER

[collect_points]
sprite	= item_points
type	= 9  # DSC_OBJ_COLLECTABLE
spawn_prob   = 3
spawn_orient = 1 # SPAWN_ORIENT_CENTER
